<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT styleGuide ANY>
<!ATTLIST styleGuide id ID #REQUIRED>
<!ELEMENT serviceList ANY>
<!ATTLIST serviceList id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT features ANY>
<!ATTLIST features id ID #REQUIRED>
]>
<root id="-1">
  <home id="1079" key="eeb302da-cb0a-47b1-9399-5f3c9e33c6c9" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-11-13T12:27:15" updateDate="2018-11-15T00:52:54" nodeName="Home" urlName="home" path="-1,1079" isDoc="" nodeType="1065" creatorName="Miguel Ferreira" writerName="Miguel Ferreira" writerID="0" template="1064" nodeTypeAlias="home" isPublished="false">
    <menuTitle><![CDATA[Home]]></menuTitle>
    <headerTitle><![CDATA[HAIR SALON WEBSITE TEMPLATES FREE DOWNLOAD]]></headerTitle>
    <subHeading><![CDATA[Your Types. Your Style. Your Color.]]></subHeading>
    <styleGuide id="1088" key="986ec037-f3d1-42ea-8e95-3533c50f7f59" parentID="1079" level="2" creatorID="0" sortOrder="0" createDate="2018-11-15T00:51:55" updateDate="2018-11-15T00:55:00" nodeName="Test for styleguide" urlName="test-for-styleguide" path="-1,1079,1088" isDoc="" nodeType="1075" creatorName="Miguel Ferreira" writerName="Miguel Ferreira" writerID="0" template="1074" nodeTypeAlias="styleGuide" isPublished="false">
      <pageTitle><![CDATA[THis is a test]]></pageTitle>
      <menuTitle><![CDATA[Menu Title Test test]]></menuTitle>
    </styleGuide>
    <serviceList id="1080" key="3004eeae-2fba-432b-b7a0-356b2c2d0054" parentID="1079" level="2" creatorID="0" sortOrder="1" createDate="2018-11-13T12:27:43" updateDate="2018-11-15T00:54:38" nodeName="Service List" urlName="service-list" path="-1,1079,1080" isDoc="" nodeType="1067" creatorName="Miguel Ferreira" writerName="Miguel Ferreira" writerID="0" template="1066" nodeTypeAlias="serviceList" isPublished="true">
      <pageTitle><![CDATA[Service List Page Title]]></pageTitle>
      <menuTitle><![CDATA[Service List Link]]></menuTitle>
      <serviceList id="1081" key="08f59c82-0117-47eb-a4f6-d0f76dab31e7" parentID="1080" level="3" creatorID="0" sortOrder="1" createDate="2018-11-13T12:28:58" updateDate="2018-11-15T00:54:04" nodeName="Service Detail" urlName="service-detail" path="-1,1079,1080,1081" isDoc="" nodeType="1067" creatorName="Miguel Ferreira" writerName="Miguel Ferreira" writerID="0" template="1066" nodeTypeAlias="serviceList" isPublished="true">
        <pageTitle><![CDATA[This is the title of Service Detail]]></pageTitle>
        <menuTitle><![CDATA[This is the title of Service Detail]]></menuTitle>
      </serviceList>
    </serviceList>
  </home>
</root>